QDockWidget#objectsDock, QDockWidget#renderStatsDock, QDockWidget#inspectorDock {
  background-color: @panel-bg;
  border: 1px solid @border;
  border-radius: 12px;
}

QDockWidget::title {
  background-color: @panel-title-bg;
  color: @text-muted;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 6px;
  border-bottom: 2px solid @border;
}
