QMainWindow {
  background-color: qlineargradient(
    spread: pad,
    x1: 0, y1: 0, x2: 0, y2: 1,
    stop:0 @window-bg, stop:1 @panel-bg
  );
}

QMainWindow::separator {
  background-color: @window-bg;
  width: 6px;
  height: 6px;
}

QMainWindow::separator:hover {
  background-color: @separator-hover;
}
